main(class='index-main')
    div(class='index-main__content')
        div(class='index-main__message')
            | помоги красотке из глубинки!

        div(class='index-main__character index-main__character_low-lvl')
        div(class='index-main__character index-main__character_high-lvl')
        div(class='index-main__character index-main__bubble')
        div(class='index-main__phone')
