main(class='privacy-policy-main')
    div(class='privacy-policy-main__character')
    div(class='privacy-policy-main__message') PRIVACY POLICY
    div(class='privacy-policy-main__text-wrap')
        div(class='privacy-policy-main__text')
            h3 Confidentiality policy

            p.
                А. Tarasov created the free app "Tiny per million". This SERVICE is provided by A. Tarasov free of
                charge and is intended for use as is.
            p.
                This page is used to inform visitors about my policy regarding the collection, use and disclosure of
                Personal Information, if anyone chooses to use my Service.
            p.
                If you choose to use my Service, you agree to the collection and use of information in accordance
                with this policy. The Personal Information that I collect is used to provide and improve the Service.
                I will not use or share your information with anyone except as described in this privacy policy.
            p.
                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which
                are available on the Tiny Million Privacy Policy, unless otherwise defined in this Privacy Policy.
            p.
                I want to let you know that whenever you use my Service, in case of an application error, I collect data
                and information (through third party products) on your phone called "Log Data". This log data may
                include information such as your device's Internet Protocol ("IP") address, device name, operating
                system version, application configuration when using my Service, time and date of your use of the
                Service, and other statistical data.

            h3 Third parties

            p.
                Our games may display promotional information. Advertising services may collect some data for their
                purposes, such as session duration, region, MAC address, IMEI. This information is used to select the
                advertisements that are relevant to you. Your device identifier may be requested to verify the
                installation of the application. Below is a list of services that may collect the above information,
                as well as their privacy policy:

            ul
                li
                    | Facebook
                    |
                    a(href='https://www.facebook.com/privacy/explanation') https://www.facebook.com/privacy/explanation
                li
                    | AppsFlyer
                    |
                    a(href='https://www.appsflyer.com/privacy-policy/') https://www.appsflyer.com/privacy-policy/
                li
                    | DevtoDev
                    |
                    a(href='https://www.devtodev.com/policy') https://www.devtodev.com/policy

            h3 Cookies

            p.
                Cookies are small data files that are typically used as anonymous unique identifiers. They are sent
                to your browser from websites you visit and are stored in the internal memory of your device.

            p.
                This Service does not use these "cookies" explicitly. However, the application may use third-party
                code and libraries that use cookies to collect information and improve its services. You have the
                opportunity to accept or reject these cookies and to know when a cookie is sent to your device. If
                you choose to reject our cookies, you may not be able to use some parts of the Service.

            h3 Service Providers

            p.
                I can hire outside companies and individuals for the following reasons:

            p
                | To facilitate our Service;
                br
                | To provide the Service on our behalf;
                br
                | To provide services; or
                br
                | To help us analyze how our Service is used.
                br
                | I want to inform the users of this Service that these third parties have access to your Personal
                | Information. The reason is to perform tasks assigned to them on our behalf. However, they must
                | not disclose or use the information for any other purpose.

            h3 Security

            p.
                I appreciate your trust in providing us with your personal information, so we strive to use
                commercially reasonable ways to protect it. But remember that no method of transmission over
                the Internet or electronic storage is 100% safe and secure, and I cannot guarantee its absolute
                security.

            h3 Links to other sites

            p.
                This Service may contain links to other sites. If you click on a third party link, you will be
                redirected to that site. Please note that these external sites are not managed by me. I therefore
                strongly recommend that you review the privacy policies of these websites. I do not control and am
                not responsible or liable for the content, privacy policy or actions of any external sites or services.

            h3 Child Privacy Policy

            p.
                These Services are not intended for persons under the age of 13. I do not knowingly collect personal
                information from children under the age of 13. If I discover that a child under the age of 13 has
                provided personal information to me, I will immediately remove that information from our servers. If
                you are a parent or guardian and you know that your child has provided us with personal information,
                please contact me so that I can take the necessary action.

            h3 Changes to this Privacy Policy

            p.
                I can update our Privacy Policy from time to time. Therefore, you are encouraged to periodically
                review this page for changes. I will notify you of any changes by posting the new Privacy Policy on
                this page. These changes will take effect immediately after they are posted on this page.

            p Get in touch with us
